/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Start The Variable */

:root {
    --main-color: #10cab7;
    --featur-padding: 60px;
    --p-line-height: 1.8;
    --secondary-color: #2c4755;
    --section-backgroun: #f6f6f6;
}

/* End The Variable */

/* Start Component */
.special-heading {
    color: #abacad;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}

.special-heading+p {
    margin: -25px 0 0;
    font-size: 19px;
    text-align: center;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -15px;
    }
}

/* End Component */

/* Start Global Ruls */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.center-position {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

html {
    scroll-behavior: smooth;
}

/* End Global Ruls */

/* Start Header */

.header {
    padding: 20px;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .link {
    position: relative;
}

.header .link .icon {
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header .link:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .link .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .link .icon span:first-child {
    width: 100%;
}

.header .link .icon span:nth-child(2) {
    width: 60%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header .link .icon span:last-child {
    width: 100%;
}

.header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    min-width: 200px;
    display: none;
    z-index: 1;
}

.header .link:hover ul {
    display: block;
}

.header .link ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .link ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header .link ul a:hover {
    padding-left: 25px;
    background-color: var(--main-color);
}

.header .link ul li:not(:last-child) a {
    border-bottom: 3px solid #ddd;
}

/* End Header */
/* Start Landing Section  */
.landing {
    background-image: url(../images/landing4.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: var(--p-line-height);
    color: #333;
}

/* End Landing Section  */

/* Start Featres */
.features {
    padding-top: var(--featur-padding);
    padding-bottom: var(--featur-padding);
    background-color: var(--section-backgroun);
}

.features .container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: var(--p-line-height);
    color: #777;
    font-size: 19px;
}

/* End Featres */
/* Start Services  */
.services {
    padding-top: var(--featur-padding);
    padding-bottom: var(--featur-padding);
}

.services .services-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    -ms-flex-preferred-size: 60px;
    flex-basis: 60px;
}

.services .services-content .srv .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #333;
    font-weight: 300;
    line-height: var(--p-line-height);
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;

}

@media (max-width: 1199px) {
    .services .services-content .image-column {
        display: none;
    }
}

.services .services-content .image img {
    width: 260px;
    height: 440px;
}

/* End Services  */

/* Start Portfolio */
.portfolio {
    padding-top: var(--featur-padding);
    padding-bottom: var(--featur-padding);
    background-color: var(--section-backgroun);
}

.portfolio .portofolio-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portofolio-content .card {
    background-color: white;
}

@media (max-width: 991px) {
    .portfolio .portofolio-content .card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .portfolio .portofolio-content .card .image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.portfolio .portofolio-content .card img {
    max-width: 100%;
}

.portfolio .portofolio-content .info {
    padding: 20px;
}

.portfolio .portofolio-content .info h3 {
    margin: 0;
}

.portfolio .portofolio-content .info p {
    color: #777;
    line-height: var(--p-line-height);
    margin-bottom: 0;
}

/* End Portfolio */

/* Start About */
.about {
    padding-top: var(--featur-padding);
    padding-bottom: calc(var(--featur-padding) + 60px);
}

.about-content {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 280px;
    height: 190px;
}

@media (max-width: 991px) {
    .about-content .image {
        margin: 0 auto 60px;
    }
}

.about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-content .image::after {
    content: "";
    position: absolute;
    top: -40px;
    width: 100px;
    height: 190px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -130px;
}

@media (max-width: 991px) {

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}

.about-content .image img {
    max-width: 100%;
}

.about-content .text {
    -ms-flex-preferred-size: calc(100% - 500px);
    flex-basis: calc(100% - 500px);
    position: relative;
    bottom: 55px;
}

.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .about-content .text p:first-of-type {
        margin-top: 0;
    }

    ;
}

.about-content .text hr {
    display: inline-block;
    width: 40%;
    border-color: var(--main-color);
}

.about-content .text p:last-of-type {
    font-weight: bold;
    line-height: 2;
    color: #777;
}

/* End About */

/* Start Contact */
.contact {
    padding-top: var(--featur-padding);
    padding-bottom: var(--featur-padding);
    background-color: var(--section-backgroun);
}

.contact .info {
    padding-top: var(--featur-padding);
    padding-bottom: var(--featur-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 45px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 45px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

/* End Contact */

/* Start Footer  */
.footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer  */